tier 1 cards:
<div class="card-row">
  <div class="card" *ngFor="let card of tier1Cards" (click)="pickCard(card)">
    <app-card [Card]="card"></app-card>
  </div>
</div>
<hr>
bank stack:

<div class="bank">
  <div class="bank-pile" *ngFor="let gem of bank | keyvalue" (click)="pickGem(gem.key)" >
    <app-gem [Type]="gem.key" [Count]="gem.value"></app-gem>
  </div>
</div>
<hr>
player one things:
<br>
gems:
<div class="player-gems">
  <div class="player-gem-pile" *ngFor="let gem of player1.gems | keyvalue">
    <app-gem [Type]="gem.key" [Count]="gem.value"></app-gem>
  </div>
</div>

<br>
cards owned:

<div class="card-row">
  <div class="card" *ngFor="let card of player1.cards">
    <app-card [Card]="card"></app-card>
  </div>
</div>

<hr>

buying gems:
<div class="player-gems">
  <div class="player-gem-pile" *ngFor="let gem of thisTurn.gemsPicked.nonZero | keyvalue" (click)="undoPickGem(gem.key)">
    <app-gem [Type]="gem.key" [Count]="gem.value"></app-gem>
  </div>
</div>
<div class="confirm-button" (click)="confirmBuyGems()">Confirm</div>

<pre>
next:

allow winning the game

add multiple players

namespaces for helper functions


later:


add all the card tiers

limit deck sizes

limit hand sizes (require throw outs at end of turn)

add nobles

allow reserving cards

allow using gold
  allow choosing which gems to pay with if you have gold

hilight allowed actions & show what it'll actually cost for cards etc.
make the rules obvious

better error messages


allow online play
</pre>
